* linguist-vendored
# ShaderLab dosyalarını hariç tut (dil istatistiklerine dahil edilmesin)
*.ShaderLab linguist-vendored=false
# C# dosyalarını dil istatistiklerine dahil et
*.cs linguist-vendored=true
